<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>System rozszerzenia usług</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
          rel="stylesheet"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=logout"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=logout"
  />
  <link rel="stylesheet" href="../css/style.css" />
  <script type="module" src="../js/Main.js"></script>
</head>
<body>
<header>
  <div id="logo">LOGO</div>
  <nav>
    <!--nawigacja po stronie-->
    <ul id="nav-list">
      <li class="nav-list-item"><a href="dodawanie">Dodaj Produkt</a></li>
      <li class="nav-list-item"><a href="page2">Drugi element nawigacji</a></li>
      <li class="nav-list-item"><a href="page3">Wyszukaj Produkt</a></li>
    </ul>
  </nav>
  <div id="logging">
    <a id="logging-off" href="login" title="Zaloguj się">
      Login
    </a>
    <a id="register" href="register" title="Zarejestruj się">
      Rejestracja
    </a>
  </div>
</header>
<main>
  <div id="container">
    <!--główna część strony-->
  </div>
</main>
<footer>
  <!--dolna stopka - jakieś informacje o twórcach
  i jakieś tam informacje
-->
  informacje o nas oraz np. regulaminy
</footer>
</body>
</html>
