<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Service Extension System</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../css/style-login.css" />
</head>
<body>
<main>
  <div id="container">
    <div id="logo">Logo</div>
    <form action="/login" method="post" autocomplete="off">
      <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              minlength="3"
              maxlength="30"
              required
      />
      <input
              type="password"
              name="password"
              id="password"
              placeholder="Hasło"
              minlength="3"
              maxlength="30"
              required
      />
      <button type="submit">
        <span class="material-symbols-outlined">login</span>
      </button>
      <!-- error podczas loginu -->
      <div th:if="${error}" style="color: red; text-align: center;" th:text="${error}"></div>
    </form>
  </div>
</main>
</body>
</html>
