.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html,
body {
  background-color: #020f33;
  color: #e6ebfa;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

#container {
  background-color: #93a2cf;
  border: 2px solid #e6ebfa;
  border-radius: 15px;
  overflow: hidden;
  width: 400px;
  height: 400px;
  color: #020f33;
}

#logo {
  text-align: center;
  margin-top: 5%;
}

#logo img {
  height: 8rem;
}

form {
  margin-top: 5%;
}

input {
  margin-left: 25%;
  width: 50%;
  height: 25px;
  margin-top: 10px;
}

button {
  border: 0;
  background: none;
  border-radius: 100%;
  width: 60px;
  height: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
}

button:hover {
  background: #a4b3de;
}
