<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkty</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css"> 
    <link rel="stylesheet" href="../css/style-products.css"> 
</head>
<body>
    <header>
        <h1>Produkty</h1>
    </header>
    <main>
        <button class="add-product-button" onclick="window.location.href='index-pl-addproduct.html'">Dodaj nowy produkt</button>
    </main>
</body>
</html>