body {
    background-color: #020f33;
    color: #e6ebfa;
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #2f417a;
}

.zone-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.zone h2 {
    color: #2f417a;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.zone {
    background-color: #93a2cf;
    border: 2px solid #e6ebfa;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.add-zone-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #e6ebfa;
    background-color: #2f417a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-zone-button:hover {
    background-color: #3d549f;
}

