/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.quicksand-<uniquifier > {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html,
body {
  background-color: #020f33;
  color: #e6ebfa;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: larger;
}

header {
  position: fixed;
  height: 80px;
  width: 100%;
  padding: 0%;
  background-color: #2f417a;
  color: #e6ebfa;
  display: flex;
  align-items: center;
  z-index: 1000;
  font-family: "Quicksand", sans-serif;
}

#logo {
  background-color: #2f417a;
  color: #e6ebfa;
  height: 100%;
  width: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#logo img {
  height: 95%;
  margin-left: 10px;
}

nav {
  background-color: #2f417a;
  color: #e6ebfa;
  height: 100%;
  width: 64%;
  display: flex;
  align-items: center;
}

#nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin-right: 10px;
}

#search-bar-container {
  position: fixed;
  top: 80px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  z-index: 999;
}

#search-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

#filters {
  display: flex;
  gap: 10px;
}

#sort-select, #filter-select {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}

#search-input {
  width: 300px;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}

#logging {
  background-color: #2f417a;
  color: #e6ebfa;
  text-align: right;
  text-transform: uppercase;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}

#logging-off {
  background-color: #2f417a;
  color: #e6ebfa;
  padding: 5px;
}

main {
  background-color: #5b6ea6;
  color: #e6ebfa;
  min-height: 100vh;
  padding-top: calc(130px);
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.tile {
  background-color: #93a2cf;
  border: 2px solid #e6ebfa;
  border-radius: 15px;
  overflow: hidden;
  width: 400px;
  height: 800px;
  color: #020f33;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tile .info {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 21px;
  font-size: 18px;
  text-align: justify;
}

.tile .info .name {
  font-weight: bold;
  text-align: center;
}

.tile img {
  width: 40%;
  height: 20%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  object-fit: cover;
  border-radius: 10%;
}

footer {
  background-color: #2f417a;
  color: #e6ebfa;
  font-family: "Quicksand", sans-serif;
}
